悠歌网络合作商家管理系统/bin/*
悠歌网络合作商家管理系统/obj/*
YouGeWebApi/obj/*
YouGeWebApi/bin/*
悠歌网络内部办公系统/bin/*
悠歌网络内部办公系统/obj/*
YouGeWinformApidll/obj/*
YouGeWinformApidll/bin/*
Project1/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
淘淘管理系统/bin/*
淘淘管理系统/obj/*